.rounded-16{
    border-radius: 16px;
}

.st-alt{
    display: inline-block;
}
.pill{
    
    padding: 3px 12px;
    font-size: 14px;
    border-radius: 40px;
}

.success-pill{
    background-color: rgb(210, 255, 210);
    color: green;
}
.danger-pill{
    background-color: rgb(255, 221, 205);
    color: rgb(158, 91, 28);
}
.info-pill{
    background-color: rgb(216, 204, 255);
    color: purple;
}
.warning-pill{
    background-color: rgb(255, 221, 205);
    color: rgb(158, 91, 28);
}

.table-user{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 4px;
}